@import url(http://fonts.googleapis.com/css?family=Oswald)

body
  font-family: 'Oswald', sans-serif
  background-color: #000
  color: #fff
  padding: 40px
  font-size: 25px
  font-weight: normal
  +background(linear-gradient(top, #000, #333))
